<h2>Lista de Usuarios: </h2>
<hr>
<a href="/admin/usuarios/add"><button class="btn btn-success">Novo Usuario</button></a>

{{#each usuarios}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>CPF: {{cpf}}</h4>
            <small>Nome: {{this.nome}}</small><br>
            <small>Idade: {{this.idade}}</small><br>
            <small>E-mail: {{this.email}}</small><br>
            <small>Data da Criação: {{this.data}}</small><br>
            <a href="/admin/usuarios/edit/{{_id}}"><button class="btn btn-success">Editar usuario</button></a>
            <form action="/admin/usuarios/deletar/" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
        </div>
    </div>
{{else}}

{{/each}}

